body{background:black;color:#00ff88;font-family:monospace;padding:40px}
textarea,input,select{width:100%;margin-bottom:10px;background:#001a00;color:#00ff88}
button{background:#00ff88;color:black;padding:10px;border:none;margin:10px 0}
.card{background:#001a00;padding:20px;margin:20px 0;border:1px solid #00ff88}

.bar{height:30px;border:1px solid #00ff88}
.bar.green{background:#004400}
.bar.amber{background:#664400}
.bar.red{background:#440000}

.fill{height:100%;text-align:center;color:white;font-weight:bold}

pre{background:#001a00;padding:15px;white-space:pre-wrap}
